@model Libreria.Repository.AUTOR

@{
    ViewBag.Title = "Details";
}

<h1>Detalles del Autor</h1>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            NOMBRE COMPLETO
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NOMBRECOMPLETO)
        </dd>

        <dt>
            FECHA DE NACIMIENTO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHANACIMIENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CIUDAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CIUDAD.NOMBRE)
        </dd>

        <dt>
            CORREO ELECTRONICO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CORREOELECTRONICO)
        </dd>

    </dl>
</div>
<div>
    @*<a asp-action="Index">Regresar</a> |*@
    @Html.ActionLink("Regresar", "Index") |
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Eliminar", "Delete", new { id = Model.ID })
</div>
